#songList>li.list-item>div.level>div.level-left {
  max-width: calc(100% - 96px);
}

li.list-item>div.level>div.level-left {
  max-width: calc(100% - 24px);
}

li.list-item>div.level>div.level-left>div.level-item {
  flex-grow: 0;
  max-width: 100%;
}

#disp {
  margin-bottom: 0px;
}

#form>.columns, #search>.columns {
  margin-bottom: 0px;
}

#search {
  padding: 1em;
  border: 1px dashed gray;
  border-radius: 0.3em;
}

#search h6 {
  margin-bottom: 0.5em;
}

#search .column {
  margin-bottom: 0px;
}

.smaller {
  font-size: 0.8em;
}

.message-body {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}