li.list-item>div.level>div.level-left {
  max-width: calc(100% - 60px);
}

li.list-item>div.level>div.level-left>div.level-item {
  flex-grow: 0;
  max-width: calc(100% - 36px);
}

#info {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.smallerButNotTooMuch {
  font-size: 0.9em;
}

.smaller {
  font-size: 0.8em;
}