li.list-item>div.level>div.level-left {
  max-width: calc(100% - 60px);
}

li.list-item>div.level>div.level-left>div.level-item {
  flex-grow: 0;
  max-width: calc(100% - 36px);
}

.title.is-5 {
  color: rgb(81, 116, 130);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-body {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
